Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
.vercel
.next
.eslintrc.json
.eslintcache
*.tsbuildinfo
**/*.test.js
**/*.test.ts
**/*.test.tsx
**/*.spec.js
**/*.spec.ts
**/*.spec.tsx
coverage
cypress
cypress.json
.nyc_output
*.log
.DS_Store 